include AUTHORS
include CHANGELOG
include COPYING
include README
include README.PACKAGING
include data/ui/*
include po/*
include MANIFEST.in
include bin/*
recursive-include docs *
include tests/*
prune docs/_build
global-exclude *.pyc
global-exclude *.~1~ *.~2~ *.~3~ *.~4~
